/*bootstrap*/

label,
input,
button,
select,
textarea {
    font-size: 12px;
    line-height: 18px;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input{
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    padding: 5px;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
    font-size: 12px;
}

.input-append .add-on,
.input-prepend .add-on {
    height: 18px;
    font-size: 12px;
    line-height: 18px;
}

.input-append input, .input-append select, .input-append .uneditable-input{
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

input.search-query {
    padding-right: 12px;
}

.btn {
    font-size: 12px;
    padding: 5px 8px;
}

.btn [class^="icon-"], .nav [class^="icon-"], .btn [class*=" icon-"], .nav [class*=" icon-"] {
    font-size: 13px;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px;
}

/*btn-group 嵌套 btn-group时*/
.btn-group > .btn-group:first-child > .btn + .dropdown-toggle {
    border-bottom-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-topright: 0px;
    border-right: 0px;
}

.btn-group > .btn-group:last-child > .btn {
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
    border-left: 0px;
}


.input-mini {
    width: 20px;
}

.input-small {
    width: 65px;
}

.input-medium {
    width: 140px;
}

.input-large {
    width: 180px;
}

.input-xlarge {
    width: 220px;
}

.input-xxlarge {
    width: 430px;
}

.popover-title {
    font-size: 12px;
}


.dropdown-menu .btn {
    text-align: left;
    background: none;
    border: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-shadow: none;
}


.inline-radio label{
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 5px!important;
}


.pagination {
    margin: 10px 0;
}
.pagination ul, .pagination div {
    float: left;
}

.ui-progressbar .ui-progressbar-value{background: #ddd;}
.progress-label {
    float: left;
    margin-left: 50%;
    margin-top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.modal{
    width: 400px;
    font-size: 14px;

}

.modal.fade.in {
    top:15%;
    /*left: 60%;*/
}

.modal,.modal-backdrop {
    z-index:999999998!important;
}
.modal-gallery {
    z-index:999999999!important;
}


.dropdown-menu.left {
    left: -95%;
    min-width: 80px;
}

.ui-dialog-titlebar {
    padding: 5px;
}
.ui-dialog-titlebar > .ui-dialog-title{
    margin-top: 0px;
    padding: 5px 0 0 0px;
}
.ui-dialog-titlebar > .ui-button {
    top: 70%;
}

.ui-dialog-titlebar.no-title {
    border: 0px;
}
.ui-dialog-titlebar.no-title .ui-dialog-title {
    height: 0px;
}
.ui-dialog-titlebar.no-title > .ui-button {
    top: 100%;
    z-index: 1;
}


/*bootstrap*/


html, body {
    font-size: 12px;
    width:		100%;
    height:		100%;
    padding:	0;
    margin:		0;
    /*overflow:	auto; *//* when page gets too small */
}

.bg {
    background:#eee;
}

.ui-layout-resizer {
    background: #eee;
}
.ui-layout-toggler{
    border: 0px;
}
.ui-layout-pane{
    border: 1px solid #eee;
}

.index-panel {
    margin:0 auto;
    width:	1020px;
    height:99.7%;
    border: 1px solid #eee;
    background: #fff;

}

.panel {
    padding: 5px 5px 0 5px;
}

#index-panel .ui-layout-pane{
    border: 0px!important;
}

.index-header {
    background:#1999d7;
    background: url(../images/bg-header.png) no-repeat;
}


.userinfo {
    font-size: 14px;
    position:absolute;
    top:0;right:0;
    margin: 5px 10px 0 0;
    z-index: 999;

    /*background-clip: padding-box;*/
    /*background-color: #ffffff;*/
    /*border: 1px solid #ddd;*/
    /*border-radius: 6px 6px 6px 6px;*/
    /*-webkit-box-shadow: 0 3px 7px #ddd;*/
    /*-moz-box-shadow: 0 3px 7px #ddd;*/
    /*box-shadow: 0 3px 7px #ddd;*/
    /*outline: medium none;*/

    /*border: 1px solid #f5f5f5;*/
}

.userinfo, .userinfo a, .userinfo .btn {
    font-size: 14px;
    color: #cd0c0c;
    font-weight: bold;
}




.userinfo .dropdown-menu {
    min-width: 80px;
    cursor: pointer;
}
.userinfo .dropdown-menu li {
    text-align: right;

}

.ui-layout-west {
    z-index: 2!important;
}

.ui-layout-pane {
    padding: 1px 1px 1px 1px;
}

.ui-layout-resizer-north{
    background: #0088cc;
}


iframe[tabs="true"] {
    border: 0px!important;
    /*margin:41px 0 0 0!important;*/
    /*position: relative!important;*/
}

.ui-dialog {
    font-size: 12px;
}


#menu .submenu {
    padding:0px;
    background: #f5f5f5;
    padding-bottom: 10px;
}
#menu ul{
    list-style: none;
    font-size: 12px;
    font-weight: normal;
    margin:0px;
}
#menu li {
    padding-left: 15px;
    margin: 8px 0 8px 0;
    line-height: 22px;
}

#menu .li-wrapper {
    margin-left: -15px;
    padding-left: 15px;
}
#menu .li-wrapper:hover {
    background: #ddd;
}
#menu .li-wrapper.active, #menu .li-wrapper.active:hover{
    background: #0088cc;
    color: white;
}

#menu li {
    color: #777;
    cursor: pointer;
}

#menu li a {
    color: #0088cc;
    text-decoration: none;
}

#menu .active a{
    color: white!important;
}

#menu .menu-icon{
    padding-right: 5px;
    color: #f89406;
}

#menu .ui-accordion-header{
    height: 35px;
    line-height: 20px;

}
#menu .ui-accordion-header a {
    color:#0088cc;
}
#menu h3 {
    padding-left: 15px;
}

#menu .menu-header-icon{
    float: left;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px;
    color:#f89406;
}


#tabs{
      background: none;
}

#tabs.tabs-fix-top {
    position: relative;
    float: left;
    top:  62px;
    width: 100%;
    left: 217px;
    right: 0px;
    height: 40px;
    z-index: 1;
}

#tabs ul {
    width: 100000px;
}


#tabs .ul-wrapper {
    width: 801px;
    overflow: hidden;
    float: left;
}

#tabs.ui-tabs .ui-tabs-nav {
    margin-bottom: 0px;
    border: none;
}

#tabs.ui-tabs .ui-tabs-nav li a {
    color: #0088cc;
    border: 0px;
    cursor: pointer;
    padding: 10px 20px;
}

#tabs.ui-tabs .ui-tabs-nav li{
    font-size: 12px;
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #6a6a6a;
    border: 1px solid #a1acb8;
    border-bottom: 0px;
}

#tabs.ui-tabs .ui-tabs-nav li:hover {

    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);

}

#tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    background: none;
    border: none;
    color: #fff;
    font-weight: bold;
}


#tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active,.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover{
    font-weight: bold;
    background: #0088cc;
    background: -ms-linear-gradient(top,#0069D6,#0088cc);
    background: -o-linear-gradient(top,#0069D6,#0088cc);
    background: -moz-linear-gradient(top,#0069D6,#0088cc);
    background: -webkit-linear-gradient(top,#0069D6,#0088cc);
    background: linear-gradient(top,#0069D6,#0088cc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069D6', endColorstr='#0088cc', GradientType=0);
    border-color: #0069D6;
    color: #fff;
    border: 1px solid #135aa4;

}



#tabs.ui-tabs .ui-tabs-nav li .menu, #tabs.ui-tabs .ui-tabs-nav li .menu:hover {
    font-size: 12px;
    float: left;
    cursor: pointer;
    color: #fff;
}

#tabs .icon-chevron-left, #tabs .icon-chevron-right {
    position: absolute;
    top: 0px;
    z-index: 999;
    height: 38px;
    line-height: 39px;

    padding: 0px 2px;
    cursor: pointer;

    border: 1px solid #ddd;
    float: left;

    color: #0069D6;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);

}
#tabs .icon-chevron-left {
    left: 0px;
}
#tabs .icon-chevron-right {
    right: 0px;
}


.pagination ul > li > a, .pagination ul > li > span {
    padding: 4px 10px;
}
.page-input{
    margin-left: 30px;
}
.page-input input {
    width: 30px;
    text-align: center;
}
.page-btn{
    margin-bottom: 10px;
}
.page-info{
    float: none!important;
    border: 0px!important;
}


.table {
    margin-bottom: 0;
}

.table .check{
    text-align: center;
}

.table tr.active {
    color: #bd362f;
}

.sort-table .sort-th {
    cursor: pointer;
}

.sort-table .sort-title {
    float: left;
}
.sort-table .sort {
    float: right;
}


.sort-table .sort .sort-hover {
    color: #f89406!important;
}

.control-group .input-append{
    display:block;
}


.ui-layout-toggler .content {
    font: 12px bold Verdana, Verdana, Arial, Helvetica, sans-serif;
}

/*.ui-layout-toggler:hover .content {*/
    /* mouse-over */
    /*color: #0069D6;*/
/*}*/

.table .btn-edit {
    padding: 0px!important;
}

.confirm .title {
    color: #bd362f;
}

.moveable{
    float: right;

}
.moveable .ui-icon {
    float: left;
}
.moveable .none{
    width: 16px;
    height: 16px;
    float: left;
}
.moveable .btn-link {
    font-size: 12px!important;
}
.sortable-placeholder {
    height: 3em;
    line-height: 3em;
}

.ajax-upload-view .progress {
    width: 300px;
    height: 30px;
    float: left;
}
.ajax-upload-view .alert {
    width: 300px;
}

.treeContent ul.ztree {
    margin-top: 2px;
    border: 1px solid #617775;
    background: #f0f6e4;
    width: 210px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: auto;
}

.ztree li span.button.add {
    margin-left: 2px;
    margin-right: -1px;
    background-position: -144px 0;
    vertical-align: top;
    *vertical-align: middle;
}
.ztree li a input.rename{
    height:16px!important;
}
.ztree li a.curSelectedNode_Edit {
    height: 19px!important;
}





.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.no-margin{
    margin-bottom: 0px;
    border: 0px;
}
.margin-1{
    padding: 0px 1px;
}
.no-padding{
    padding: 0px;
}


.child-data > td,.child-data > td:hover {
    background: #E9F3FF!important;
}

/*默认会偏移*/
.ui-spinner-input{
    margin: 0px;
}
/*默认会隐藏掉error提示*/
.ui-spinner{
    overflow: visible;
}

.tool.ui-toolbar {
    width: auto;
    margin: 0 auto 1px 0;
    padding: 3px;
}
.search-form {
    float: right;
    margin-bottom: 0px;
    margin-right: 10px;
}
.search-form .accordion-inner {
    padding: 9px 0;
    border-top: 0px;
}



.file-input label {
    padding: 4px 12px;
    margin-bottom: 0px;
}
.file-input a {
    padding: 0px;
}
/*file upload*/
.file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 20000;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
    width: 0px;
    margin: 0px;
    height: 0px;
    line-height: 0px;
}
.file-input .name {
    margin-left: 8px;
}


.login {
    width: 400px;
    margin: 120px auto;

    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 3px 7px #ddd;
    -moz-box-shadow: 0 3px 7px #ddd;
    box-shadow: 0 3px 7px #ddd;
    outline: medium none;
}
.login .title {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 8px;
    background: #1999d7;
    background-clip: padding-box;
    border-radius: 6px 6px 0 0;
    line-height: 30px;
}
.login .form {
    padding: 30px 0 10px 30px;
    color: #777;
}
.login .remember {
    width: 180px;
    float: left;
}
.login .btn-login {
    padding: 5px 20px;
}


.jcaptcha-img {
    cursor: pointer;
}

/*.panel .nav-tabs {*/
    /*margin-bottom: 10px;*/
/*}*/

/* Footer
-------------------------------------------------- */
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}

.tree-search {
    margin-bottom: 0px;
}
.tree-search label {
    float: left;
    line-height: 28px;
    margin-right: 5px;
    margin-left: 10px;
}


/*去除IE 虚线框*/
a,input,textarea{blr:expression(this.onFocus=this.close());} /* 只支持IE，过多使用效率低 */
a,input,textarea{blr:expression(this.onFocus=this.blur());} /* 只支持IE，过多使用效率低 */
a:focus { -moz-outline-style: none; } /* IE不支持 */
*:focus { outline: none; }
