<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method='destroy'>
        <property name="triggers">
            <list>
                <ref bean="autoClearDeletedRelationTrigger"/>
                <ref bean="autoClearExpiredOrDeletedmMessageTrigger"/>
            </list>
        </property>
    </bean>

    <!-- 清理对象关系的定时任务 -->

    <!--自动清理删除的关系-->
    <bean id="autoClearDeletedRelationJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="relationClearQuartzService"/>
        <property name="targetMethod" value="autoClearRelation"/>
        <property name="concurrent" value="false"/>
    </bean>
    <bean id="autoClearDeletedRelationTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="autoClearDeletedRelationJob"/>
        <!-- 每天2点0执行执行 -->
        <property name="cronExpression" value="0 0 2 * * ?"/>
    </bean>


    <!--自动清理过期的消息-->
    <bean id="autoClearExpiredOrDeletedmMessageJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="messageClearService"/>
        <property name="targetMethod" value="autoClearExpiredOrDeletedmMessage"/>
        <property name="concurrent" value="false"/>
    </bean>
    <bean id="autoClearExpiredOrDeletedmMessageTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="autoClearExpiredOrDeletedmMessageJob"/>
        <!-- 每天2点0执行执行 -->
        <property name="cronExpression" value="0 30 2 * * ?"/>
    </bean>


</beans>