<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- spring工具类 方便在非spring管理环境中获取bean -->
    <bean id="springUtils" class="com.sishuok.es.common.utils.SpringUtils"/>

    <!-- 设置默认的文件上传路径 -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.sishuok.es.common.web.upload.FileUploadUtils.setDefaultBaseDir"/>
        <property name="arguments" value="${file.upload.dir}"/>
    </bean>


</beans>
